
.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;

}
.search-input {
    width: 30rem;
    height: 3.2rem;
    display: flex;
    background-color: rgba(51, 51, 51, 0.665);
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;

}
.search-input input {
    width: 27rem;
    height: 3.2rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.1rem;
    font-size: 1.2rem;
}
::placeholder {
    font-size: 0.9rem;
    font-style: italic;
}

input:focus {
    outline: none;
}
.search-icon {
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
    font-weight: 700;
    color: white;
}
.input-result {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 23rem;
    height: 3rem;
    background-color: #ffff;
    margin-top: 2rem;
    color: black;
    text-align: center;
    font-weight: 550;
    font-size: 1.3rem;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}