.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  background-image: linear-gradient(90deg, rgba(65, 58, 58, 0.867), #3333);
  background-color: rgba(0, 0, 0, 0.008);
}
body {
  margin: 0;
  padding: 0;
}